<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>Document</title>
    <link rel="stylesheet" href="hompage.component.css">
</head>
<body>

    <div>
        <h3>Logo</h3>
    </div>
    <div class="buttons">

        

<!-- 
        <button name="Home" class="button-10 " type="button" value="Save" onclick="myFunction()">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="About" class="button-10" type="button" value="Cancel" onclick="myFunction2()">About US</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="Application" class="button-10 cancel" type="button" value="Cancel" onclick="myFunction2()">Application</button>&nbsp;&nbsp;&nbsp;
        <button name="Login" class="button-10 " type="button" value="Cancel" onclick="myFunction2()">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="Calculator" class="button-10 " type="button" value="Cancel" onclick="myFunction2()">Calculator</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="FAQ" class="button-10 " type="button" value="Cancel" onclick="myFunction2()">FAQ</button>
 -->

        
        <a routerLink = "/Home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink = "/About">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a routerLink = "/application">Application</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink = "/login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink = "/calculator">Calculator</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink = "/FAQ">FAQ</a>

    </div>
<br>
    <div class="container">
        <img src="https://th.bing.com/th/id/OIP.vFwwlZ83oFap9ztAOyLpFwHaFc?w=245&h=180&c=7&r=0&o=5&pid=1.7" alt="Snow">
        <button class="btn">Apply</button>
      </div>

      <br>
      <div class="buttons">

        


        <button name="Features" class="button-10 " type="button" value="Save" onclick="myFunction()">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="Calculator" class="button-10" type="button" value="Cancel" onclick="myFunction2()">About US</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button name="Documents" class="button-10 cancel" type="button" value="Cancel" onclick="myFunction2()">Application</button>&nbsp;&nbsp;&nbsp;
       

   

    </div>

</body>
</html>