<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application.component.css">
    <title>Application</title>
   
</head>
<body>
    <h3>Property Details</h3>
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Property Location</label>
                <input type="text" id="aligned-loc" />
              
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Property name</label>
                <input type="text" id="aligned-name" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-email">Estimated amount</label>
                <input type="text" id="aligned-amt" />
            </div>
          
            <div class="pure-controls">
               
                <button type="submit" class="button-10">Submit</button>            </div>
        </fieldset>
    </form>

    <h3>Income Details</h3>
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Type of Employment: </label>
                <input type="text" id="aligned-loc" />
              
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Retirement age:</label>
                <input type="text" id="aligned-name" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-email">Organization Type:</label>
                <input type="text" id="aligned-amt" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-email">Employer Name:</label>
                <input type="text" id="aligned-amt" />
            </div>
          
            <div class="pure-controls">
               
                <button type="submit" class="button-10">Submit</button>            </div>
        </fieldset>
    </form>

    <h3>Loan Details</h3>
    <form>
        <fieldset>
            <div >
                Max Loan Amount Grantable
                <input type="text" id="aligned-loc" />
              
            </div>
            <div >
               <label>Interest Rate</label>
                <input type="text" id="aligned-name" />
            </div>
            <div>
             Tenure
                <input type="text" id="aligned-amt" />
            </div>
            <div>
                 Loan Amount 
                <input type="text" id="aligned-amt" />
            </div>
            <div>
               
                <button type="submit" class="button-10">Submit</button>
            </div>
        </fieldset>
    </form>
</body>
<h3>Personal Details</h3>
<form>
    <fieldset>
        <div >
            Name
            <input type="text" id="aligned-loc" />
          
        </div>
        <div >
            <label>email</label>
            <input type="text" id="aligned-name" />
        </div>
        <div>
         password
            <input type="text" id="aligned-amt" />
        </div>
        <div>
             confirm password
            <input type="text" id="aligned-amt" />
        </div>
        <div>
            phone number
           <input type="text" id="aligned-amt" />
       </div><div>
gender
       <input type="text" id="aligned-amt" />
   </div><div>
nationality
   <input type="text" id="aligned-amt" />
</div><div>
    DOB
   <input type="date" id="aligned-amt" />
</div>
<div>
   aadhar
   <input type="text" id="aligned-amt" />
</div><div>
    PAN
   <input type="text" id="aligned-amt" />
</div>
        <div>
           
            <button type="submit" class="button-10">Submit</button>
        </div>
    </fieldset>
</form>
</html>