<!DOCTYPE html>
<html>
    <head>
        <title>Calculator Page</title>
    </head>
    <body style="text-align:center;">
       
        <div id="rcorners2" >
        <form>
           <h3 style="background-color:royalblue; width:50%;border-radius:8px;">Eligibility Criteria</h3>
            <table>
                <tr>
                    <td>Monthly Income</td>
                    <td><input type="text"></td><br><br>
                </tr>
                <tr>
                    <td>ROI</td>
                    <td><input type="text"></td><br><br>
                </tr>
                <tr>
                    <td>Calculate</td>
                    <td><input type="button" value="Calculate" style="background-color:royalblue;"></td><br><br>
                </tr>
                <tr>
                    <td>Eligibility</td>
                    <td><input type="text"></td><br><br>
                </tr>
            </table>
        </form>
    </div>


    <div id="rcorners2">
        <form>
           <h3 style="background-color:royalblue; width:50%;border-radius:10px;">EMI Calculator</h3>
            <table>
                <tr>
                    <td>Loan</td>
                    <td><input type="text"></td><br><br>
                </tr>
                <tr>
                    <td>Tenure</td>
                    <td><input type="text"></td><br><br>
                </tr>
                <tr>
                    <td>ROI</td>
                    <td><input type="text"></td><br><br>
                </tr>
                <tr>
                    <td>Calculate</td>
                    <td><input type="button" value="Calculate" style="background-color:royalblue;"></td><br><br>
                </tr>
                <tr>
                    <td>EMI</td>
                    <td><input type="text"></td><br><br>
                </tr>
            </table>
        </form>
  
    </div>

    </body>
</html>