<!DOCTYPE html>
<html lang="en">
    <head>
    
      
      </head>
      <body>
        <form method="post" class="file-uploader" action="">
            <div class="file-uploader__message-area">
              <p>Upload Documents</p>
            </div>
            <div class="file-chooser">
              Pan Card
              <input class="file-chooser__input" type="file">
            </div>
            <div class="file-chooser">
                Voter Id
                <input class="file-chooser__input" type="file" multiple>
              </div> <div class="file-chooser">
                  Salary Slip
                <input class="file-chooser__input" type="file" multiple>
              </div> <div class="file-chooser">
                  LOA
                <input class="file-chooser__input" type="file" multiple>
              </div> <div class="file-chooser">
                  NOC from Builder
                <input class="file-chooser__input" type="file" multiple>
              </div>
              <div class="file-chooser">
               Agreement to sale
              <input class="file-chooser__input" type="file" multiple>
            </div>
            <input class="file-uploader__submit-button" type="submit" value="Upload">
          </form>
      
      </body> 
</html>