<html>
<head>
</head>

<body>
<div id="rcorners2">

<form>
<h3>Loan Tracker</h3>
<table>

<tr>
<td>Application number</td>
<td><input type="text"></td>
</tr>
<tr>
<td>Mobile Number</td>
<td><input type="text"></td>
</tr>
<tr>
<td><input type="button" value="Track"></td>
</tr>
</table>
</form>
</div>
<div id="rcorners2">

<form>
<h3>Your Account</h3>
<table>

<tr>
<td>Account number</td>
<td><input type="text"></td>
</tr>
<tr>
<td>Balance</td>
<td><input type="text"></td>
</tr>
<tr>
<td><input type="button" value="Check"></td>
</tr>
</table>
</form>
</div>


</body>